query_db/
build/
wikibase/
inout_texts.txt
__pycache__/
plots/
results/syn1/
results/syn2/
results/w/
results/figures/
results/list_stats/
predictor/A100/
predictor/L40/
predictor/H100/
predictor/H100_0/
predictor/figures/
datasets/deep1b 
datasets/sift1b 
datasets/syn_1024
datasets/syn_2048 
datasets/wiki_all 
datasets/yandex_t2i
predictor/*.png
list_cache/*.imap
list_cache/*.csv
predictor/*.csv
index/*.index
index/*.csv
datasets/deep1b/
datasets/sift1b/
list_cache/stats/
list_cache/nothings/
.vscode/
